html,
body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: var(--sl-font-sans);
}

.content {
  max-width: 800px;
  margin: auto;
  padding: 10%;
}

p {
  text-align: justify;
  font-size: 1.1rem;
}


table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    vertical-align: top;
}

th {
    background-color: #f2f2f2;
}

td[colspan="3"] {
    background-color: #f9f9f9;
}
